html,body {
  color: #fff;
  font-size: 12px;
  background-color: #09111E;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;
  }

  .clearfix {
    clear: both;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .block-c {
    // background-color: #ccc;
  }
  .block-d {
    // background-color: #ddd;
  }
  .block-a {
    // background-color: #aaa;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  .text-center {
    text-align: center;
  }

  .inline-block {
    display: inline-block;
  }

  .width-4 {
    width: 40%;
  }

  .width-6 {
    width: 60%;
  }

  .title-box {
    color: #b7f4f9;
    display: inline-block;
    font-size: 30px;
    padding: 10px 100px;
    border: 1px solid #3d83a7;
    position: relative;

    &:after {
      display: inline-block;
      width: 100%;
      height: 100%;
      border: 1px solid #3d83a7;
      content:"";
      position: absolute;
      left: 3px;
      top: 3px;
    }
  }
  .main-img-box {
    width: 90%;
    height: 480px;
    text-align: center;
    margin: -80px auto 0;

    img {
      width: 100%;
      max-width: 500px;
    }
  }

  .p-10 {
    padding: 10px;
  }

  .sub-title {
    clear: both;
    font-size: 20px;
    margin: 30px 0 20px 0;

    .main-text {
      color: #37fffe;
    }
    .sub-title-line {
      display: inline-block;
      height: 13px;
      background-image: url("./../images/sub-title-line.png");
      background-repeat: no-repeat;
      background-position: left bottom;

      &.w-6 {
        width: calc(100% - (121px + 6px));
      }
      &.w-8 {
        width: calc(100% - (161px + 6px));
      }
      &.w-10 {
        width: calc(100% - (201px + 6px));
      }
      &.w-11 {
        width: calc(100% - (221px + 6px));
      }
      &.w-12 {
        width: calc(100% - (241px + 6px));
      }
    }
  }
}
